.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #ff00009a, #fff2003b, #1e9600af);
  background-size: 500%;
  background-position: 50% 50%;
  transition: 1s;
}


.correct {
  background-position: 100% 100%;
}

.noCorrect {
  background-position: 0 0;
}

* {
  margin: 0;
  padding: 0;
}

p, 
button {
  font-size: 20px;
}

.container {
  width: 400px;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.word {
  font-size: 35px;
  letter-spacing: 2px;
  color: #240b36;
}

.title {
  padding: 0 20px;
  font-size: 25px;
}

.btnsWrap {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}


.score {
  font-size: 25px;
  color: #240b36;
}

.btn {
  cursor: pointer;
  width: 160px;
  height: 50px;
  color: #240b36;
  outline: none;
  border: 2px solid #240b36;
  background: none;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn:active {
  color: #fff;
  background: #240b36;
}


@media(max-width: 400px) {
  .container {
    width: auto;
    padding: 0 10px;
  }

  .btn {
    width: 120px;
    letter-spacing: 1.5px;
  }
}

