.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, #ff00009a, #fff2003b, #1e9600af);
  background-size: 500%;
  background-position: 50% 50%;
  transition: 1s;
}

.correct {
  background-position: 100% 100%;
}

.noCorrect {
  background-position: 0 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1, h1,
button {
  color: #240b36;
}

p, 
button {
  font-size: 20px;
}

.container {
  max-width: 340px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.word {
  font-size: 35px;
  letter-spacing: 2px;
}

.title {
  padding: 0 20px;
  font-size: 25px;
}

.btnChoose {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.totalScore {
  font-size: 35px;
  text-decoration: underline;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
}

.score {
  font-size: 25px;
  color: #240b36;
}

.btn {
  cursor: pointer;
  width: 160px;
  height: 50px;
  outline: none;
  border: 2px solid #240b36;
  background: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btnTranslate {
  width: 100%;
}
.btnModal {
  width: 300px;
}
.btn:active {
  color: #fff;
  background: #240b36;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #ff00009a, #fff2003b, #1e9600af);
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.modalContent p {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  overflow: scroll;
  height: 70vh;
}

li {
  display: block;
}

li p {
  text-align-last: left;
}

@media(max-width: 340px) {
  .container {
    padding: 0 10px;
  }

  .btn {
    width: 140px;
    letter-spacing: 1.5px;
  }

  .btnModal {
    width: 300px;
  }

  .btnTranslate {
    width: 100%;
  }
}

